body {
    background-color: lightgray;
}

#productContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.productCard {
    background-color: slategrey;
    width: 30%;
    margin: 1%;
    text-align: center;
    border-style: solid;
    box-shadow: 10px 10px 5px grey;
}
.image-productCard {
    max-width: 100%;
}

.header-productCard {
    font-family: Arial, Helvetica, sans-serif;
}